.dialogs {
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.dialog {
  box-shadow: 
  rgba(210, 118, 157, 0.09) 0px -23px 25px 0px inset, 
  rgba(180, 118, 157, 0.09) 0px -36px 30px 0px inset, 
  rgba(150, 118, 157, 0.09) 0px -79px 40px 0px inset, 
  rgba(120, 118, 157, 0.09) 0px 2px 1px, 
  rgba(75, 118, 157, 0.09) 0px 4px 2px, 
  rgba(50, 118, 157, 0.09) 0px 8px 4px, 
  rgba(30, 118, 157, 0.09) 0px 16px 8px, 
  rgba(3, 118, 157, 0.09) 0px 32px 16px;
  padding: 10px;
  border-radius: 10px;
}
.dialogsItems {
  padding: 10px;
  width: 300px;
  
}
.dialogsItems img {
  width: 100px;
  height: 80px;
  border-radius: 150px;
  margin:10px auto;
  transition: all 1s linear;
}

.dialogsItems img:hover{
  
  transform: translate(30px, 0);
}

.messages {
  padding: 10px;
}
.message {
  color: white;
}

.textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 300px;
  height: 80px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}


.button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
